# Default ignored files
.idea/
__pycache__/
venv/
secrets.py
config.py
cache_files/
mybase.json
backup_database.json
debug.log
error.log
general.log
security.log
media/
_pgbackup
_pginfo
pinegrow.json
launch.json
.vscode/
node_modules/