<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Чат {% endblock title %}</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <nav>
          <ul class="topmenu">
            <li><a href="/">Домой</a></li>
            {% if user.is_authenticated %}
            <li id="user"><a href="/accounts/{{ user.id }}">{{ user }}</a></li>
            <li><a href="/accounts/logout">Выход</a></li>
            {% else %}
            <li><a href="/accounts/signup">Зарегистрироваться</a></li>
            <li><a href="/accounts/login">Вход</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <main id="root" class="main">
        {% block content %} {% endblock content %}
      </main>
      <footer class="footer"></footer>
    </div>
  </body>
</html>
