* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: "Times New Roman", Georgia, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.topmenu {
    display: flex;
    justify-content: flex-end;
}

.topmenu li {
    padding: 1rem;
    display: flex;
}

.topmenu a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    padding: 2rem 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.header {
    min-height: 5lvh;
    background-color: darkkhaki;
}

.main {
    background-color: bisque;
    flex-grow: 1;
}

.main h1 {
    padding: 1rem;
    text-align: center;
}

.avatar img {
    border-radius: 250px;
}

.MainWrapper {
    border-radius: 10px;
    height: 83lvh;
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
}

.column {
    margin: 1rem;
    width: 33%;
}

.leftColumn {
    padding-top: 1rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: bisque;
    width: 20%;
    text-align: center;
}

.leftColumn ul {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.leftColumn li {
    margin-top: 6px;
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.leftColumn p {
    padding-top: 5px;
}

.leftColumn li:hover {
    border-radius: 10px;
    background-color: aqua;
}

.room-button {
    position: sticky;
    top: 80%;
}

.MiddleColumn {
    padding-top: 1rem;
    border-radius: 10px;
    background-color: bisque;
    margin: 1rem 0;
    width: 50%;
    text-align: center;
}

.MiddleColumn form {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 80%;
}

.RightColumn {
    margin: 1rem;
    padding-top: 1rem;
    border-radius: 10px;
    background-color: bisque;
    width: 20%;
    text-align: center;
}

.RightColumn ul {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.RightColumn img {
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.RightColumn p {
    padding-left: 1rem;
    padding-top: 5px;
}

.RightColumn li {
    margin-top: 6px;
    min-width: 100px;
    max-width: 200px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}

.RightColumn li:hover {
    border-radius: 10px;
    background-color: aqua;
}

.avatar img {
    width: 250px;
}

.content {
    min-width: 60%;
    display: flex;
}

.caption {
    padding-right: 3rem;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
}

button {
    margin: 10px 20px;
    padding: 5px;
    border-radius: 8px;
}

.messages li {
    padding: 0.3rem 2rem;
    margin: 4px;
    background-color: #f9f1e8;
    max-width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
}

.messages p {
    font-style: italic;
}

.message_form {
    position: sticky;
    top: 80%;
}

.footer {
    min-height: 5lvh;
    background-color: darkkhaki;
}

.li-off {
    background-color: bisque;
}

.li-on {
    background-color: #a6ecc9;
}

label {
    margin: 0.8rem 0;

}