{% extends 'default.html' %} {% load static %} {% block content %}
<h1>Личный кабинет</h1>
<div class="container">
  <div class="avatar">
    <img src="{{ user.avatar.avatar.url }}" alt="avatar" />
  </div>
  <div class="content">
    <div class="caption">
      <h4>Никнейм:</h4>
      <h4>Имя:</h4>
      <h4>Фамилия:</h4>
      <h4>Email:</h4>
    </div>
    <div class="value">
      {% block name %}
      <h4>{{ user.username }}</h4>
      <h4>{{ user.first_name }}</h4>
      <h4>{{ user.last_name }}</h4>
      <h4>{{ user.email }}</h4>
      {% endblock name %}
    </div>
  </div>
</div>
<div class="buttons">
  <a href="edit/{{user.id}}">Редактировать</a>
</div>
{% endblock content %}
